.profile-pic{
    border-radius: 100%;
    width: 10em;
    height: 10.5em;
    margin-top: 2%;
    @media screen and (max-width: 768px) {
        margin-top: 10%;
    }
    margin-bottom: 2%;
}

.cards {
    width: 40%;
    @media screen and (max-width: 768px) {
        width: 80%;
    }
    margin: 1%;
    padding: 1%;
    max-height: 1%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em; /* Vertically center the text there */
    transition: opacity 0.4s;
    &.scrolling {
        opacity: 0;
        pointer-events: none;
        
    }
}

.card-container {
    .card-body {
        padding: 0;
    }
}
