.nav-container {
    margin: auto;
    @media screen and (min-width: 1400px) {
        width: 40%;
    }

}

.nav-link {
    background-color: #AAAAAA;
    opacity: 0.4;
    margin: 2%;
    color: #000;
}

.nav-link.active {
    background-color:  #FF6666;
    color:  #FF6666;
    opacity: 1.0;
}
